<ion-header>
  <ion-toolbar>
    <ion-title>Animation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<center>
<div class="box">
  <div class="form">
    <h2>Sign in</h2>
    <div class="inputBox">
      <ion-input type="text" placeholder="Username">
      <span>Username</span>
      </ion-input>
      <i></i>
    </div>
    <div class="inputBox">
      <ion-input type="password" placeholder="Password">
      <span>Password</span>
      </ion-input>
      <i></i>
    </div>
    <div class="link">  
        <a href="#">Forget password</a>  
    </div>
    <div class="button">
      <ion-button color="warning">
        Login
      </ion-button> 
    </div>   
  </div>
</div>
</center>
</ion-content>



